In [1]:
#import library
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from apyori import apriori
from mlxtend.frequent_patterns import apriori,association_rules

In [2]:
#read csv file
book = pd.read_csv("~/Downloads/Data Science/data set/book.csv")
book

,ChildBks,YouthBks,CookBks,DoItYBks,RefBks,ArtBks,GeogBks,ItalCook,ItalAtlas,ItalArt,Florence
0,0,1,0,1,0,0,1,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0
3,1,1,1,0,1,0,1,0,0,0,0
4,0,0,1,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
1995,0,0,1,0,0,1,1,1,0,1,1
1996,0,0,0,0,0,0,0,0,0,0,0
1997,0,0,0,0,0,0,0,0,0,0,0
1998,0,0,1,0,0,0,0,0,0,0,0
1999,0,0,0,0,0,0,0,0,0,0,0

In [3]:
# Building the model 
frq_items = apriori(book, min_support = 0.05, use_colnames = True)

In [4]:
# Collecting the inferred rules in a dataframe 
rules = association_rules(frq_items, metric ="lift", min_threshold = 1) 
rules = rules.sort_values(['confidence', 'lift'], ascending =[False, False]) 
print(rules.head())

              antecedents consequents  antecedent support  consequent support  \
34             (ItalCook)   (CookBks)              0.1135               0.431
108  (ItalCook, ChildBks)   (CookBks)              0.0850               0.431
180  (ItalCook, YouthBks)   (CookBks)              0.0590               0.431
235  (ItalCook, DoItYBks)   (CookBks)              0.0585               0.431
259    (ItalCook, ArtBks)   (CookBks)              0.0565               0.431

     support  confidence      lift  leverage  conviction
34    0.1135         1.0  2.320186  0.064582         inf
108   0.0850         1.0  2.320186  0.048365         inf
180   0.0590         1.0  2.320186  0.033571         inf
235   0.0585         1.0  2.320186  0.033287         inf
259   0.0565         1.0  2.320186  0.032148         inf

In [5]:
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
34,(ItalCook),(CookBks),0.1135,0.4310,0.1135,1.000000,2.320186,0.064582,inf
108,"(ItalCook, ChildBks)",(CookBks),0.0850,0.4310,0.0850,1.000000,2.320186,0.048365,inf
180,"(ItalCook, YouthBks)",(CookBks),0.0590,0.4310,0.0590,1.000000,2.320186,0.033571,inf
235,"(ItalCook, DoItYBks)",(CookBks),0.0585,0.4310,0.0585,1.000000,2.320186,0.033287,inf
259,"(ItalCook, ArtBks)",(CookBks),0.0565,0.4310,0.0565,1.000000,2.320186,0.032148,inf
...,...,...,...,...,...,...,...,...,...
557,(CookBks),"(YouthBks, ArtBks, DoItYBks)",0.4310,0.0600,0.0525,0.121810,2.030162,0.026640,1.070383
403,(ChildBks),"(YouthBks, RefBks, GeogBks)",0.4230,0.0570,0.0515,0.121749,2.135955,0.027389,1.073725
375,(ChildBks),"(YouthBks, ArtBks, DoItYBks)",0.4230,0.0600,0.0510,0.120567,2.009456,0.025620,1.068871
629,(ChildBks),"(DoItYBks, YouthBks, CookBks, GeogBks)",0.4230,0.0600,0.0510,0.120567,2.009456,0.025620,1.068871
631,(CookBks),"(DoItYBks, YouthBks, ChildBks, GeogBks)",0.4310,0.0565,0.0510,0.118329,2.094327,0.026648,1.070128